html {
    background: #f5f5f5;
}

body {
    background: #f5f5f5;
    max-width: 640Px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: white;
}

.head {
    background-color: #2bab79;
    height: 60px;
}

.plcRouteList {
    margin-left: 5px;
    background-color: #f5f5f5;
}

.pic {
    border-radius: 50%;
}

.title {
    position: absolute;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    top: 0px;
    left: 20px;
    white-space: nowrap;
    line-height: 40px;
    margin-left: 30px;
    /* border: 1px solid yellow; */
}

.bottom {
    position: absolute;
    top: 400px;
    left: 460px;
}

.bottom2 {
    position: absolute;
    top: 780px;
    left: 460px;
}

.face {
    float: left;
    border-radius: 50%;
    border: 1px solid white;
    width: 39px;
    height: 39px;
}

.day {
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 460px;
    color: white;
    /* border: 1px solid white; */
    background-color: #2bab79;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.day2 {
    border-radius: 50%;
    position: absolute;
    top: 480px;
    right: 460px;
    color: white;
    /* border: 1px solid white; */
    background-color: #2bab79;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.em{
    font-style: normal;
    font-weight: bolder;
}
.qui-aside{
    position: absolute;
    top:23px;
    left :238px;
    height: 905px;
    width: 200px;
    border: 1px solid yellow;
    background-color: #2d3741;
}
ul{
    list-style: none;
}

.nav-aside{
    padding: 80px 10px;
}
/* a去链接下划线 */
.nav-aside a{   
    line-height: 44px;
    font-size: 16px;
    color: #ced1d5;
    text-decoration: none;
    display: block;
    padding-left: 20px;

}
/* 链接颜色 */
.nav-aside a:hover{
    color:black;
    background-color: #2bab79;
}
.qui-footer{
    /* border: 1px solid black; */
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #ced1d5;

}
.qui-footer a{
    text-decoration: none;
    color: #444;
    
    
}
.qui-footer span{
    margin-left: 30px;

}